<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {% with msg = get_flashed_messages(with_categories=true) %}
        {% if msg %}
            {% for category, message in msg %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>This is our home page where a query is collected</h1>
    {% for region in vegan_map %}
        <p>There is {{region.vegan_number}} vegitarians in {{region.name}} ({{region.postcode}})</p>
    {% endfor %}
    <p>the end</p>
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                {{ form.postcode.label() }}
                {% if form.postcode.errors %}
                    {{ form.postcode() }}
                    <div>
                        {% for error in form.postcode.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.postcode() }}
                {% endif %}

                <!-- {{ form.postcode() }} -->
            </fieldset>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
</body>
</html>