{% extends 'vegan/head.html' %}
{% block content %}
    <h2 style="margin-top:20px; margin-left: 100px; font-size:20px;font-weight: bold;">Donation Overview:</h2>
    <div class="container" style="margin-left: 100px; margin-top: 5px; margin-bottom: 50px; position: absolute"
         id="totalUser">
        <div class="row" style="height: 100px; font-size: 48px; text-align: center;">
            <div class="col-12  border-dark bg-light">
                <p style="font-size: 16px; text-align: justify ">
                    From our experience, we consider people who appreciate art to be more emotional, which means they
                    are more sensitive in terms of having empathy for others in pain. To reach out a hand to a stranger,
                    the best way to do in this modern society is to donate.<br> In this topic, we want to find out whether
                    people’s attitude on art has any correlation with their willingness to donate, or in other words,
                    are people who appreciate art of more empathy? We compared the median amount of donation in dollar
                    people make in every region. <br>The results show that, although with some outlier, but generally, the
                    more positive people’s attitude on art is, the more donation people are willing to make. Therefore,
                    art might really make people have more empathy.
                </p>
            </div>

        </div>
    </div>
    <!-- text form input page -->
    {#    <form action=" " method="post" id="featureSubmit"#}
    {#          style="margin-left: 100px; margin-top: 220px; margin-bottom: 1px; position: relative">#}
    {#        {% csrf_token %}#}
    {#        {{ featureform }}#}
    {#        <input class="btn btn-secondary btn-sm" type="submit" value="Submit">#}
    {#    </form>#}
    <h2 style="margin-top:190px; margin-left: 100px; font-size:20px ">Please select the areas:</h2>
    <form action=" " method="post" id="featureSubmit"
          style="margin-left: 100px; margin-top: 15px; margin-bottom: 1px; width: 1200px; position: relative">
        {% csrf_token %}
        <div class="form-check form-check-inline">
            {{ featureform.MelbourneInner }}
            <label class="form-check-label" for="inlineCheckbox1">Melbourne Inner</label>
        </div>
        <div class="form-check form-check-inline">
            {{ featureform.MelbourneInnerEast }}
            <label class="form-check-label" for="inlineCheckbox2">Melbourne Inner East</label>
        </div>
        <div class="form-check form-check-inline">
            {{ featureform.MelbourneInnerSouth }}
            <label class="form-check-label" for="inlineCheckbox3">Melbourne Inner South</label>
        </div>
        <div class="form-check form-check-inline">
            {{ featureform.MelbourneNorthEast }}
            <label class="form-check-label" for="inlineCheckbox1">Melbourne North East</label>
        </div>
        <div class="form-check form-check-inline">
            {{ featureform.MelbourneNorthWest }}
            <label class="form-check-label" for="inlineCheckbox2">Melbourne North West</label>
        </div>
        <div class="form-check form-check-inline">
            {{ featureform.MelbourneOuterEast }}
            <label class="form-check-label" for="inlineCheckbox3">Melbourne Outer East</label>
        </div>
        <div class="form-check form-check-inline">
            {{ featureform.MelbourneSouthEast }}
            <label class="form-check-label" for="inlineCheckbox1">Melbourne South East</label>
        </div>
        <div class="form-check form-check-inline">
            {{ featureform.MelbourneWest }}
            <label class="form-check-label" for="inlineCheckbox2">Melbourne West</label>
        </div>
        <div class="form-check form-check-inline">
            {{ featureform.MorningtonPeninsula }}
            <label class="form-check-label" for="inlineCheckbox3">Mornington Peninsula </label>
        </div>
        <input class="btn btn-secondary btn-sm" style="margin-left: 520px; margin-top: 20px" type="submit"
               value="Submit">
    </form>

    <!-- show user interaction diagram -->
    <div class="container" style="margin-left: 100px;position: absolute;" id="userInteraction">
        <div class="row">
            <div class="col-4 font-weight-bold" style="font-size: 20px;">Art Diagram</div>
            <div class="w-100"></div>
            <!-- a spinner should be shown before chart rendered-->
            <div class="col-12 border border-dark bg-light text-dark" style="height: 350px"
                 url-endpoint='{% url "api-data" %}'>
                <canvas id="myChart" width="400" height="127"></canvas>
            </div>
        </div>
    </div>
    <script>
        var progress = document.getElementById('animationProgress');
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: {{region_label|safe}},
                datasets: [{
                    label: "tertiary population",
                    data: {{tertiary_list|safe}},
                    yAxisID: 'A',
                    backgroundColor: "#3e95cd",
                    fill: false,
                },
                    {
                        label: "senti scores",
                        data: {{senti_list|safe}},
                        yAxisID: 'B',
                        backgroundColor: "#c45850",
                        fill: false,
                    },
                    {
                        label: "tweets count",
                        data: {{tweet_count|safe}},
                        yAxisID: 'A',
                        backgroundColor: "#3cba9f",
                        fill: false,
                    }]
            },
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        id: 'A',
                        position: 'left',
                        ticks: {
                            beginAtZero: true
                        }
                    }, {
                        id: 'B',
                        position: 'right',
                        ticks: {
                            suggestedMin: -1,
                            suggestedMax: 1
                        }
                    }]
                },
                title: {
                    display: true,
                },
                legend: {
                    disblay: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }
            }
        });
    </script>

{% endblock %}





