{% extends 'vegan/head.html' %}
{% block content %}
    <div class="container">
        <div class="row" style="width: 1250px">
            <div class="col" style="margin-top: 50px">
                <h2>Melbourne City Analytics on Art</h2><br>
                Among the 200 most frequent word tokens from over 2 million tweets collected.
                <br><br>
                We decided to study the correlation of people’s attitude on art and other aspects of their lives.
                Art, by its definition, is a wide range of human activities in creating visual,
                auditory or performing artefacts, expressing the author’s imaginative and conceptual ideas.
                <br><br>
                It is a beautiful yet
                controversial concept. We are curious about whether people’s attitude on arts can potentially be
                correlated with
                their income level, how much they value tertiary education and their willingness to make donations.
                <br><br><br><br>
                <h3 >Team members</h3>
                <br>
                Xingjian Zhang SID: 1030767 <br>
                Xin Li SID: 956468 <br>
                YuXian Wang SID: 971605<br>
                Yue Bao SID: 1011641<br>
            </div>

            <div class="col" style="margin-top: 50px;">
                {% load static %}
                <img src="{% static 'vegan/images/map.png' %}" alt="" style="width: 600px">
            </div>
        </div>
    </div>


{% endblock %}





